<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecnu_time_bank.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.example.ecnu_time_bank.entity.Order">
    <constructor>
      <arg column="order_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_publeshed_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="order_description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_telephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="order_bonus" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_publisher_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_accpeters_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_employee_list_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_state" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.example.ecnu_time_bank.entity.Order">
    insert into order (order_id, order_title, order_publeshed_time, 
      order_description, order_type, order_time, 
      order_address, order_telephone, order_bonus, 
      order_publisher_id, order_accpeters_id, order_employee_list_id, 
      order_state)
    values (#{orderId,jdbcType=INTEGER}, #{orderTitle,jdbcType=VARCHAR}, #{orderPubleshedTime,jdbcType=TIMESTAMP}, 
      #{orderDescription,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{orderTime,jdbcType=VARCHAR}, 
      #{orderAddress,jdbcType=VARCHAR}, #{orderTelephone,jdbcType=VARCHAR}, #{orderBonus,jdbcType=INTEGER}, 
      #{orderPublisherId,jdbcType=INTEGER}, #{orderAccpetersId,jdbcType=INTEGER}, #{orderEmployeeListId,jdbcType=INTEGER}, 
      #{orderState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.ecnu_time_bank.entity.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderTitle != null">
        order_title,
      </if>
      <if test="orderPubleshedTime != null">
        order_publeshed_time,
      </if>
      <if test="orderDescription != null">
        order_description,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="orderAddress != null">
        order_address,
      </if>
      <if test="orderTelephone != null">
        order_telephone,
      </if>
      <if test="orderBonus != null">
        order_bonus,
      </if>
      <if test="orderPublisherId != null">
        order_publisher_id,
      </if>
      <if test="orderAccpetersId != null">
        order_accpeters_id,
      </if>
      <if test="orderEmployeeListId != null">
        order_employee_list_id,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderTitle != null">
        #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="orderPubleshedTime != null">
        #{orderPubleshedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDescription != null">
        #{orderDescription,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=VARCHAR},
      </if>
      <if test="orderAddress != null">
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderTelephone != null">
        #{orderTelephone,jdbcType=VARCHAR},
      </if>
      <if test="orderBonus != null">
        #{orderBonus,jdbcType=INTEGER},
      </if>
      <if test="orderPublisherId != null">
        #{orderPublisherId,jdbcType=INTEGER},
      </if>
      <if test="orderAccpetersId != null">
        #{orderAccpetersId,jdbcType=INTEGER},
      </if>
      <if test="orderEmployeeListId != null">
        #{orderEmployeeListId,jdbcType=INTEGER},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>